<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script src="https://kit.fontawesome.com/19cf718452.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PracticaMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Inmobiliaria Duvara</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light anim bg-secondary rounded mx-2 " asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light anim bg-secondary rounded mx-2 " asp-area="" asp-controller="Inquilino" asp-action="Index">Inquilinos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light anim bg-secondary rounded mx-2 " asp-area="" asp-controller="Propietario" asp-action="Index">Propietarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light anim bg-secondary rounded mx-2 " asp-area="" asp-controller="Inmueble" asp-action="Index">Inmuebles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light anim bg-secondary rounded mx-2 " asp-area="" asp-controller="Contrato" asp-action="Index">Contratos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light anim bg-secondary rounded mx-2 " asp-area="" asp-controller="Pago" asp-action="Index">Pagos</a>
                        </li>
                        @if(User.Identity.IsAuthenticated)
                        {
                        <li class="nav-item">
                            <a class="nav-link text-light anim bg-info rounded mx-2 " asp-area="" asp-controller="Usuario" asp-action="Index">Usuarios</a>
                        </li>
                        }
                        <li class="nav-item drop-options">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Ingresar
                                </button>
                                <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item  text-light" asp-controller="Usuario" asp-action="Login">Log In</a>
                                    @if(User.Identity.IsAuthenticated)
                                    {
                                        <a class="dropdown-item  text-light" asp-controller="Usuario" asp-action="Logout">Salir</a>
                                    }
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
    @if (ViewBag.CreacionExitosa != null)
    {
        <div class="alert alert-success text-center" role="alert">
            <strong> CREADO EXITOSAMENTE </strong>
        </div>
    }
    @if (ViewBag.ModificacionExitosa != null)
    {
        <div class="alert alert-success text-center" role="alert">
            <strong> MODIFICADO EXITOSAMENTE </strong>
        </div>
    }
    @if (ViewBag.EliminacionExitosa != null)
    {
        <div class="alert alert-success text-center" role="alert">
            <strong> ELIMINADO EXITOSAMENTE </strong>
        </div>
    }   
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger text-center" role="alert">
            <strong> UN ERROR HA OCURRIDO </strong>
        </div>
    }
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Entrega 1 <a asp-area="" asp-controller="Home" asp-action="Home">Inicio</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
