html {
  font-size: 14px;
}
nav{
  position: relative;
}
nav .navbar-collapse ul{
  display: flex;
  gap: 20px;
}
nav .navbar-collapse ul .drop-options{
  position: absolute;
  right: 70px;
}
nav .navbar-collapse ul .drop-options .dropdown-menu{
  background-color: red;
}
.anim{
  transition: transform .5s ease;
}
.anim:hover{
  transform: scale(1.05);
}
table, th, td {
  border: 1px solid black;
}
td{
  padding: 5px;
}
.fa-plus{
  color: white;
  font-size: 20px;
  cursor: pointer;
  
}
.fa-plus:hover{
  animation: gira-en-sentido-horario 2s linear infinite;
}

.fa-user-minus{
  font-size: 20px;
  color: crimson;
  transition: transform .5s ease;
  cursor: pointer;
  padding: 20px;
}
.fa-user-minus:hover{
  transform: scale(1.15);
}

#avatar_img{
  width: 500px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px black;
}
@keyframes gira-en-sentido-horario {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#form-container{
  margin-top: 25%;
}
#form-container div{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
#form-login{
  background-color: red;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.avatar_img{
  width: 60px;
  height: 50px;
}
.rol-div{
  display: flex;
  flex-direction: column;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}