@model IEnumerable<PracticaMVC.Models.Contrato>

@{
    ViewData["Title"] = "Listado de Contratos";
}

<h1>Listado de Contratos</h1>


@if(User.IsInRole("Administrador"))
{
    <p>
        <a asp-action="Create">Crear nuevo contrato</a>
    </p>
}
<ul class="d-flex">
    <li  class="bg-dark rounded">
        <a asp-controller="Contrato" asp-action="Index" class="btn btn-danger">Eliminar Filtros</a>
    </li>
    <li  class="bg-dark rounded">
        <a asp-controller="Contrato" asp-action="IndexVigentes" class="btn btn-info">Listado de contratos vigentes</a>
    </li>
    <li  class="bg-dark rounded">
        <a asp-controller="Inmueble" asp-action="IndexByEstadoNoDisponible" class="btn btn-info">Listado de inmuebles no disponibles</a>
    </li>
    <li  class="bg-dark rounded">
        <a id="seleccion_propietario" style="color:white" class="btn btn-info" data-toggle="modal" data-target="#ModalPropietario">Listado de inmuebles por propietario</a>
    </li>
</ul>
@await Html.PartialAsync("_ListadoContratos", Model)