@model PracticaMVC.Models.Usuario

@{
    ViewData["Title"] = "Cambiar Contraseña";
}

<h1>Editar Contraseña</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="CambiarContraseña">
            <div class="form-group">
                <label for="contraseña_vieja" class="control-label">Contraseña Antigua</label>
                <input type="password" name="contraseña_vieja" id="contraseña_vieja" class="form-control" placeholder="Ingrese su antigua contraseña">
            </div>
            <div class="form-group">
                <label asp-for="Contraseña" class="control-label">Contraseña Nueva</label>
                <input asp-for="Contraseña" id="avatar_input" type="password" class="form-control"  placeholder="Ingrese su nueva contraseña"/>
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-info">
            </div>
        </form>
    </div>
</div>

<div>
    @if(User.IsInRole("Administrador")){
        @if(Int32.Parse((User.Claims.FirstOrDefault(c => c.Type == "Id").Value)) != Model.Id){
            <a asp-action="Index">Volver al listado</a>
        }else{
        <a asp-action="Perfil">Volver al Perfil</a>
        }
    }else{
        <a asp-action="Perfil">Volver al Perfil</a>
    }
</div>

