@model IEnumerable<PracticaMVC.Models.Usuario>

@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid d-flex align-items-center justify-content-center" id="form-container">
    <form class="d-flex flex-column align-items-center justify-content-center" id="form-login">
    <div>
        <label for="" class="text-center"> Email </label>
        <input type="email"  name="" id="" required>
    </div>
    <div>
        <label for="" class="text-center"> Contraseña </label>
        <input type="password" name="" id="" required>
    </div>
    <button type="submit"> Enviar </button>
    </form>
</div>
