@model IEnumerable<PracticaMVC.Models.Usuario>

@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid d-flex align-items-center justify-content-center" id="form-container">
    Deslogeao
</div>
